@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: Roboto Slab;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-family: Pirata One;
}

.nav-container {
    font-family: Pirata One;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 20px 0px;
}

.nav-container a {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px 20px;
}

.nav-container a:hover {
    color: white;
    background-color: darkgrey;
}

.logs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 30px;
}

.log-listing-container {
    border: 1px solid grey;
    border-radius: 15px;
    width: 400px;
    min-height: 350px;
    height: max-content;
    padding: 5px 20px;
}

.log-listing-container a {
    text-align: right;
}

.log-listing-container a:hover {
    color: darkgoldenrod;
}

.log-container {
    text-align: center;
}

.log-container button {
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid black;
    margin: 0px 10px 0px 10px;
}

.log-container button:hover {
    cursor: pointer;
    background-color: lightgrey;
}

textarea {
    width: 400px;
    height: 200px;
    resize: none;
}